{% extends "base.html" %}
{% load static %} 


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block model_cart %}
{% include "includes/cart_button.html" %}
{% endblock model_cart %}


{% block content %}
    <h1 class="mt-5 pt-5 text-center"><strong>Новостная лента</strong></h1>
    <div class="container">
        <div class="carousel slide" id="myCarousel">
            <!-- Слайды -->
            <div class="carousel-inner">
                <!-- Первый слайд -->
                <div class="carousel-item active ">
                    <img src="{% static "deps/images/psxb.jpg" %}" alt="Изображение 1" class="d-block mx-auto" style="width: 700px; height: 350px; border-radius: 10px;">
                </div>
                <!-- Второй слайд -->
                <div class="carousel-item">
                    <img src="{% static "deps/images/superprice.jpg" %}" alt="Изображение 2" class="d-block mx-auto" style="width: 700px; height: 350px; border-radius: 10px;">
                </div>
                <!-- Третий слайд -->
            </div>
    
            <!-- Элементы управления слайдером -->
            <div class="carousel-control-prev my-auto float-left">
                <a href="#myCarousel" role="button" data-slide-to="0">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <strong><span class="sr-only text-black">  </span></strong>
                </a>
            </div>

            <div class="carousel-control-next carousel-control-bottom float-right">
                <a href="#myCarousel" role="button" data-slide-to="1">
                    <strong><span class="sr-only text-black"> </span></strong> <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
    
        </div>
    </div>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Михайлов В.В &copy; Интернет-магазина бытовой техники</p>
    </div>
</footer>
{% endblock footer %}
